<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Duck Feeding Habits</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-outline-primary d-flex " style="margin-right: 2px;" routerLink="/">Add Entries</button>
          <button class="btn btn-outline-primary d-flex" routerLink="/viewAllSubmission">View Submission</button>
      </div>
    </div>
  </nav>