<div class="container py-5">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6">
              <h5 class="mb-0">Duck Food Feed Entry</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div *ngFor="let formField of formFields" class="form-group">
              <div *ngIf="formField.types && formField.types.length > 0">
                <div class="row input-space">
                  <label class="col-lg-3 col-md-3 col-sm-3">
                    {{ formField.fieldName }}</label
                  >
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <input
                      class="form-control"
                      type="{{ formField.fieldType }}"
                      value=""
                      [required]="formField.required"
                      formControlName="{{ formField.fieldName }}"
                    />
                    <div
                      *ngIf="
                        form.get(formField.fieldName).invalid &&
                        (form.get(formField.fieldName).dirty ||
                          form.get(formField.fieldName).touched)
                      "
                      style="color: red"
                    >
                      <div
                        *ngIf="
                          form.get(formField.fieldName).errors &&
                          form.get(formField.fieldName).errors.required
                        "
                      >
                        {{ formField.fieldName }} is required.
                      </div>
                      <div
                        *ngIf="
                          form.get(formField.fieldName).errors &&
                          form.get(formField.fieldName).errors.pattern
                        "
                      >
                        {{ formField.fieldName }} is not in the required
                        pattern.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <select
                      class="form-control"
                      [(ngModel)]="formField.type"
                      [ngModelOptions]="{ standalone: true }"
                    >
                      <option *ngFor="let unit of formField.types" [value]="">
                        {{ unit }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div *ngIf="!formField.types">
                <div class="row input-space">
                  <label class="col-lg-3 col-md-3 col-sm-3">
                    {{ formField.fieldName }}</label
                  >
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <input
                      class="form-control"
                      type="{{ formField.fieldType }}"
                      value=""
                      [required]="formField.required"
                      formControlName="{{ formField.fieldName }}"
                    />
                    <div
                      *ngIf="
                        form.get(formField.fieldName).invalid &&
                        (form.get(formField.fieldName).dirty ||
                          form.get(formField.fieldName).touched)
                      "
                      style="color: red"
                    >
                      <div
                        *ngIf="
                          form.get(formField.fieldName).errors &&
                          form.get(formField.fieldName).errors.required
                        "
                      >
                        {{ formField.fieldName }} is required.
                      </div>
                      <div
                        *ngIf="
                          form.get(formField.fieldName).errors &&
                          form.get(formField.fieldName).errors.pattern
                        "
                      >
                        {{ formField.fieldName }} is not in the required
                        pattern.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
